In [1]:
import pandas as pd
from sqlalchemy import create_engine

from datetime import datetime

## Data Extraction

In [2]:
# equipments file
df_equip = pd.read_json('Shape-Test/equipment.json')

In [3]:
# Sample of the equipments table, which is already fine to be loaded into the database
df_equip.head()

   equipment_id      code group_name
0             1  5310B9D7   FGHQWR2Q
1             2  43B81579   VAPQY59S
2             3  E1AD07D4   FGHQWR2Q
3             4  ADE40E7F   9N127Z5P
4             5  78FFAD0C   9N127Z5P

In [4]:
# equipment_sensors file
df_equip_sensors = pd.read_csv('Shape-Test/equipment_sensors.csv', sep=';')

In [5]:
# Sample of the equipment_sensors table, which is already fine to be loaded into the database
df_equip_sensors.head()

   equipment_id  sensor_id
0             4          1
1             8          2
2            13          3
3            11          4
4             1          5

In [6]:
# equipment_failure_sensors file
df_equip_failure_sensors = pd.read_csv('Shape-Test/equipment_failure_sensors.log',sep='\t', engine='python',header=None)

In [7]:
# Sample of the equipments table, which needs some transformations before loading it into the database
df_equip_failure_sensors.tail()

,0,1,2,3,4,5
36974,[2019-12-09 09:26:38],ERROR,sensor[27]:,(temperature,"472.36, vibration",9660.13)
36975,[2019-12-09 09:26:38],ERROR,sensor[51]:,(temperature,"134.64, vibration",-736.71)
36976,[2019-12-09 09:26:38],ERROR,sensor[56]:,(temperature,"388.94, vibration",1237.49)
36977,[2019-12-09 09:26:38],ERROR,sensor[81]:,(temperature,"82.97, vibration",-1871.2)
36978,[2019-12-09 09:26:38],ERROR,sensor[89]:,(temperature,"204.79, vibration",-6460.27)

## Data Transformation

In [8]:
# datetime_utc field
df_equip_failure_sensors['datetime_utc'] = df_equip_failure_sensors[0].apply(lambda x: x[x.find("[")+1:x.find("]")])
df_equip_failure_sensors['datetime_utc'] = df_equip_failure_sensors['datetime_utc'].apply(lambda x: datetime.strptime(x,'%Y-%m-%d %H:%M:%S'))

In [9]:
# sensor_id field
df_equip_failure_sensors['sensor_id'] = df_equip_failure_sensors[2].apply(lambda x: int(x[x.find("[")+1:x.find("]")]))

In [10]:
# temperature field
df_equip_failure_sensors['temperature'] = df_equip_failure_sensors[4].apply(lambda x: float((x.split(',')[0]).strip()))

In [11]:
# vibration field
df_equip_failure_sensors['vibration'] = df_equip_failure_sensors[5].apply(lambda x: float((x[:x.find(")")]).strip()))

In [12]:
df_equip_failure_sensors.head()

,0,1,2,3,4,5,datetime_utc,sensor_id,temperature,vibration
0,[2019-12-10 10:46:09],ERROR,sensor[5]:,(temperature,"365.26, vibration",-6305.32),2019-12-10 10:46:09,5,365.26,-6305.32
1,[2019-12-10 10:46:09],ERROR,sensor[43]:,(temperature,"458.47, vibration",-58.41),2019-12-10 10:46:09,43,458.47,-58.41
2,[2019-12-10 10:46:09],ERROR,sensor[44]:,(temperature,"57.16, vibration",-999.66),2019-12-10 10:46:09,44,57.16,-999.66
3,[2019-12-10 10:46:09],ERROR,sensor[67]:,(temperature,"106.69, vibration",-4659.02),2019-12-10 10:46:09,67,106.69,-4659.02
4,[2019-12-02 06:53:29],ERROR,sensor[5]:,(temperature,"26.42, vibration",-3438.67),2019-12-02 06:53:29,5,26.42,-3438.67

In [13]:
df_equip_failure_sensors.sort_values(by='datetime_utc', inplace=True)

In [14]:
df_equip_failure_sensors = df_equip_failure_sensors.iloc[:,6:]

In [15]:
# Sample of the equipment_failure_sensors table, which now is ready to be loaded into the database
df_equip_failure_sensors.head()

            datetime_utc  sensor_id  temperature  vibration
5036 2019-12-01 14:09:43         25        24.34   -9437.06
5039 2019-12-01 14:09:43         40       230.94    8882.96
5035 2019-12-01 14:09:43         17       434.08    1299.07
5034 2019-12-01 14:09:43          4       369.02    6681.61
5040 2019-12-01 14:09:43         92       226.19   -2750.27

In [16]:
# Checking if all the data types are correct
df_equip_failure_sensors.dtypes

datetime_utc    datetime64[ns]
sensor_id                int64
temperature            float64
vibration              float64
dtype: object

In [36]:
# Checking for any null values in the tables
dfs = [df_equip, df_equip_sensors, df_equip_failure_sensors]

is_there_null_values = [df.isnull().any().any() for df in dfs]
is_there_null_values

[False, False, False]

## Data Load (SQL Database - PostgreSQL)

In [80]:
# Creating the connection to the sql database in PostgreSQL
try:
    conn_string = 'postgres://postgres:ricardo1992@localhost/db_shape'
    db = create_engine(conn_string)
    conn = db.connect()
except:
    print('Database connection not succeeded')

In [81]:
# Converting the 03 databases into tables in PostgreSQL
try:
    df_equip.to_sql('tb_equipments', con=conn, if_exists='append', index=False)
except:
    print('Not possible to load the values into the table tb_equipments')

try:
    df_equip_sensors.to_sql('tb_equipment_sensors', con=conn, if_exists='append', index=False)
except:
    print('Not possible to load the values into the table tb_equipments')

try:
    df_equip_failure_sensors.to_sql('tb_equipment_failure_sensors', con=conn, if_exists='append', index=False)
except:
    print('Not possible to load the values into the table tb_equipments')

In [ ]:
# Closing the connection to the database
conn.close()